body {
  background-image: url('img/beads-bg.jpg');
  background-size: 50%;
  background-position: fixed;
  font-family: ;
}

header {
  text-align: center;
  border-color: #b4c4dd;
  border-style: solid;
  border-radius: 20px;
}

main {
  background-color: #e0e6f2;
  opacity: 1;
  margin: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

div.form-group {
  padding: 10px;
}