<!DOCTYPE html>
<html id="top" ng-app="myApp" ng-controller="myCtrl">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Spotify Playlist Analyzer</title>
      <!-- Bootstrap.css -->
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- JQuery.js -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <!-- Bootstrap.js -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <!-- Page style -->
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <script src="app.js"></script>
      <link rel="icon" href="img/pizza-icon.png">
   </head>
   <body>
      <main class="container-fluid" ng-co>
         <header>
            <h1>Spotify Playlist Analyzer</h1>
            <nav role="navigation">
               <ul>
                  <li><a href="#info-section">location</a></li>
                  <li><a href="#menu-section">menu</a></li>
                  <li><a href="#about-section">about</a></li>
               </ul>
            </nav>
         </header>
         <div id="form-section" class="row">
            <form class="form-group">
              <div class="form-group col-md-10">
                 <label for="playlist-URL" class="hidden">Playlist URL:</label>
                 <input type="text" ng-model="playlist-URL" name="playlist-URL" class="form-control"></input>
              </div>
              <div class="form-group col-md-2">
                 <button type="submit" class="btn btn-primary" ng-click="getTracks()">Analyze</button>
              </div>
            </form>
         </div>
         <div id="results" class="row">
            <h2>Our Menu</h2>
            <div class="col-md-4">
               <h3>Meat Pies</h3>
            </div>
            <div class="col-md-4">
               <h3>Veggie Pies</h3>
            </div>
            <div class="col-md-4">
               <h3>ass Pies</h3>
            </div>
         </div>
         <footer>
            <p>
               <address>
                  Made by <a href="mailto:eduardrg@uw.edu">Eduard Grigoryan</a> in 2015
               </address>
            </p>
            <p>
               <a href="#top">Back to Top &uarr;</a>
            </p>
         </footer>
      </main>
   </body>
</html>